# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives:

- List popular languages for Data Science
- List of commonly used Data Science libraries
- Understand Data Science tools
- Arithmetic expression examples
- Uses of Jupyter Notebook

## Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:

  1. Pandas
  2. Numpy
  3. Matplotlib
  4. Scikit-learn

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Prince Kumar